@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
list-style: none;
text-decoration: none;
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}

body{
background: #FFFFFF;
}
.ADD {
background-color: 546E7A;
width: 50%;
margin: auto;
padding: 10px;
margin-top: 8%;
}

.a{
  margin: 10px;
  margin-top: 20px;
}
textarea {
margin-top: 20px;
width: calc(100%);
padding: 5px;
}

.wrapper .sidebar{
background: #FFFFFF;
position: fixed;
top: 0;
left: 0;
width: 225px;
height: 100%;
padding: 20px 0;
transition: all 0.5s ease;
}
.wrapper .sidebar .profile{
margin-bottom: 30px;
text-align: center;
}




.wrapper .sidebar ul li a{
display: block;
padding: 13px 30px;
border-bottom: 1px solid #546E7A;
color: #546E7A;
font-size: 16px;
position: relative;
}

.wrapper .sidebar ul li a .icon{
color: #546E7A;
width: 30px;
display: inline-block;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
color: #EE0004;

background:white;
border-right: 2px solid #546E7A;
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
color: #EE0004;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
display: block;
}
.wrapper .section{
width: calc(100% - 225px);
margin-left: 225px;
transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
background: #EE0004;
height: 50px;
display: flex;
align-items: center;
padding: 0 30px;

}

.wrapper .section .top_navbar .hamburger a{
font-size: 28px;
color: #ffffff;
}

.wrapper .section .top_navbar .hamburger a:hover{
color: #546E7A;
}


body.active .wrapper .sidebar{
left: -225px;
}

body.active .wrapper .section{
margin-left: 0;
width: 100%;
}

.center {
margin: auto;
width: 60%;
border: 3px solid black;
padding: 10px;
}

.button {
background-color: red;
border: none;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
