<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="styles/Login.css">
<title>Login Page </title>
</head>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            
            <h3>BLOOD LAP</h3>
            <img src="images/Blood logo.jpg" width="90" height="90" alt="" loading="lazy" id="logo">
            
            <hr>

          </div>
        </div>
        <form action="/login" method="POST">
          <input type="text" name="username" placeholder="username" required>
          <input type="password" name="password" placeholder="password" required>
          <button>login</button>
          <p class="message"><a href="#">Forgot your password?</a></p>
        </form>
      </div>
    </div>
</body>
</body>
</html>
